body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

nav {
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

nav a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #4CAF50;
}

nav img {
    height: 40px;
    width: auto;
    margin-right: 10px;
}

.buttons {
    display: flex;
    align-items: center;
}

.login, .register {
    padding: 10px 15px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.3s ease-in-out;
}

.login:hover, .register:hover {
    background-color: #076113 ;
}
